body {
    margin: 0;
    background-color: #505072;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    font-weight: bold;
   }

    h1 {
        color: white;
        font-size: 32px;
        text-align: center;
    }
    label {
        color: white;
        font-size: 20px;
        margin-right: 15px;
    }
    input {
        background-color: #8989A0;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        width: 70%;  
        padding: 10px;
        margin: 5px 0px;
    }
    .save {
        color: white;
        background-color: #5865F2;
        padding: 15px;
        width: 100vh;
        border: none;
        border-radius: 5px;
        display: block; 
        margin: 10px auto; 
        font-weight: bold;
        font-size: 16px;
    }
